---
layout: page
# The Create of posts.
---

{% include lang.html %}









<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Create a New Post</h1>
            <form>
                <label for="title_post">Title :</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="title_post" placeholder="Enter Title Post">
                </div>
                <div class="form-group" id="author_post_id">
                    <label for="author_post">Author :</label>
                    <select class="form-select" id="author_post" data-placeholder="Choose anything" multiple>
                        {% assign sorted_authors = site.data.authors | sort %}
                        {% for author in sorted_authors %}
                        <option value="{{ author[0] }}" name="{{ author[1].name }}">{{ author[1].name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="categories_post_id">
                    <label for="categories_post">Categories :</label>
                    <select class="form-select" id="categories_post" data-placeholder="Choose anything" multiple>
                        {% assign sort_categories = site.categories | sort %}

                        {% for category in sort_categories %}
                        {% assign category_name = category | first %}
                        {% assign posts_of_category = category | last %}
                        {% assign first_post = posts_of_category | first %}

                        {% if category_name == first_post.categories[0] %}
                            {% assign sub_categories = '' | split: '' %}

                            {% for post in posts_of_category %}
                            {% assign second_category = post.categories[1] %}
                            {% if second_category %}
                                {% unless sub_categories contains second_category %}
                                {% assign sub_categories = sub_categories | push: second_category %}
                                {% endunless %}
                            {% endif %}
                            {% endfor %}

                            {% assign sub_categories = sub_categories | sort %}
                            {% assign sub_categories_size = sub_categories | size %}

                            <!-- Sub-categories -->
                            {% if sub_categories_size > 0 %}
                                    {% for sub_category in sub_categories %}
                                        <option value="{{ sub_category }}">{{ sub_category }}</option>
                                    {% endfor %}
                            {% endif %}

                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="tags_post_id">
                    <label for="tags_post">Tags :</label>
                    <select class="form-select" id="tags_post" data-placeholder="Choose anything" multiple>
                        {% assign tags = '' | split: '' %}
                        {% for t in site.tags %}
                            {% assign tags = tags | push: t[0] %}
                        {% endfor %}
                        {% assign sorted_tags = tags | sort_natural %}
                        {% for t in sorted_tags %}
                            <option value="{{ t -}}">{{ t -}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="editor">Content Markdown :</label>
                    <textarea class="editor" id="editor"></textarea>
                </div>
                <button type="button" class="btn btn-primary btn-block" onclick="createMarkdownFile(editor)">Create Markdown File</button>
                <!-- button type="button" class="btn btn-primary btn-block" onclick="createMarkdownFile()">Create Markdown File !-->
            </form>
        </div>
    </div>
    
    


    <script>

//ClassicEditor
  //.create( document.querySelector( '#editor' ) )
  //.then( editor => {
   // console.log( 'Editor was initialized', editor );
  //} )
 // .catch( error => {
 //   console.error( 'Error initializing the editor: ', error );
 // } );

                // Replace the <textarea id="editor1"> with a CKEditor 4
                // instance, using default configuration.
                //CKEDITOR.replace( 'editor' );

        CKEDITOR.replace( 'editor' );




//ClassicEditor
  // .create( document.querySelector( '#editor' ), {
  //      //plugins: [ Markdown, /* other plugins */ ],
        //...
  //  } )
  // .then(  e => {
  //    console.log( 'Editor was initialized', e );
  //    editor = e; // Assign the editor instance to a global variable
 //   } )
  // .catch( error => {
  //      console.error( error );
  //  } );





    //const $ = require('jquery');

//const moment = require('moment');
        //if (window.location.hostname!== '127.0.0.1' || window.location.port!== '4000') {
        //    window.location.replace('{{ site.baseurl }}/');
        //}
        $( '#author_post' ).select2( {
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: $( this ).data( 'placeholder' ),
            closeOnSelect: false,
        } );
        $( '#categories_post' ).select2( {
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: $( this ).data( 'placeholder' ),
            closeOnSelect: false,
            tags: true
        } );
        $( '#tags_post' ).select2( {
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: $( this ).data( 'placeholder' ),
            closeOnSelect: false,
            tags: true
        } );
        
        function createMarkdownFile(editor) {
            var date = new Date();

    var editorInstance = CKEDITOR.instances.editor;

    var markdownContent = editorInstance.getData();

        //const date = moment();
            var dateWZero = (date.getDate() + 1).toString().padStart(2, '0');
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var currentTime = "{{ 'now' | date: '%H:%M:%S' }}";
            const timezoneOffset = date.getTimezoneOffset();
            const timezoneOffsetHours = Math.abs(timezoneOffset / 60);
            const timezoneOffsetMinutes = Math.abs(timezoneOffset % 60);
            const timezoneOffsetSign = timezoneOffset > 0? "-" : "+";
            const timezoneOffsetFormatted = timezoneOffsetSign + timezoneOffsetHours.toString().padStart(2, "0") + timezoneOffsetMinutes.toString().padStart(2, "0");

            //console.log(timezoneOffsetFormatted); // Output: "+07:00"


            //ISI CONTENT START
            var title_postContent = document.getElementById('title_post').value;
            if (!title_postContent) {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Please enter a title for your post!'
                });
                return;
            }

            // Get the element with id "tags_post"
            const authorPost = document.getElementById('author_post');
            const authorPostElement = document.getElementById('author_post_id');
            const categoriesPostElement = document.getElementById('categories_post_id');
            const tagsPostElement = document.getElementById('tags_post_id');

            // Get all elements with class "select2-selection__choice"
            const author_elements = authorPostElement.querySelectorAll('.select2-selection__choice');
            const categories_elements = categoriesPostElement.querySelectorAll('.select2-selection__choice');
            const tags_elements = tagsPostElement.querySelectorAll('.select2-selection__choice');

            // Create an array to store the title data
            const author_value = [];
            const categories_value = [];
            const tags_value = [];
            const author_titles = [];
            //const titles = [];

            // Loop through each element and extract the title attribute
            //author_elements.forEach((element) => {
            //    author_value.push(element.getAttribute('title'));
            //});
            author_elements.forEach((element) => {
            const author_title = element.getAttribute('title');
            const authors = {
                {% assign sorted_authors = site.data.authors | sort %}
                {% for author in sorted_authors %}
                '{{ author[1].name }}': '{{ author[0] }}',
                {% endfor %}
            };

            const author_id = Object.keys(authors).find((key) => key === author_title);
            if (author_id) {
                author_value.push(authors[author_id]);
            } else {
                author_value.push(author_title);
            }
            });
            categories_elements.forEach((element) => {
                categories_value.push(element.getAttribute('title'));
            });
            tags_elements.forEach((element) => {
                tags_value.push(element.getAttribute('title'));
            });

            // Log the extracted title data
            //console.log(titles); // Output: ["css", "getting started", "html"]
            //console.log(categories_value); // Output: ["css", "getting started", "html"]
            //console.log(categories_value); // Output: ["css", "getting started", "html"]
            
            var fullDateContent = `${date.getFullYear()}-${month}-${dateWZero} ${currentTime} ${timezoneOffsetFormatted}`;
            var fileNameContent = `${date.getFullYear()}-${month}-${date.getDate()}-${title_postContent}.md`;
            //var author_post = document.getElementById('author_post').value.replace(/\s+/g, '_');
            var allMarkdownContent = '---\n title: "' + title_postContent + '"\n date: ' + fullDateContent  + '\n author: [' + author_value + ']\n categories: ['+categories_value+']\n tags: ['+tags_value+']\n---\n' + markdownContent;
            //ISI CONTENT END

            
            var title_post = document.getElementById('title_post').value.replace(/\s+/g, '-');
            var fileName = `${date.getFullYear()}-${month}-${dateWZero}-${title_post.toLowerCase()}.md`;
            var blob = new Blob([allMarkdownContent], {type: 'text/markdown'});
            saveAs(blob, fileName);
        }

        function saveAs(blob, fileName) {
            if (navigator.msSaveBlob) {
                navigator.msSaveBlob(blob, fileName);
            } else {
                var link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = `${fileName}`;
                link.click();
            }
        }
        function saveFileToDrive() {
            var input = document.createElement('input');
            input.type = 'file';
            input.style.display = 'true';
            input.onchange = function(event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                reader.onload = function(event) {
                    var content = event.target.result;
                    var blob = new Blob([content], {type: 'text/markdown'});
                    var date = new Date();
                    var dateWZero = (date.getDate() + 1).toString().padStart(2, '0');
                    var month = (date.getMonth() + 1).toString().padStart(2, '0');
                    var fileName = `${date.getFullYear()}-${month}-${dateWZero}-${title_post | downcase}.md`;
                    saveAs(blob, fileName.toLowerCase());
                };
                reader.readAsText(file);
            };
            input.click();
        }
    </script>